@use "@material/theme";
@use "@material/button";
@use "@material/button/styles";

@import "@material/button/mdc-button";
@import "@material/base";

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: ""
}

.foo-button {
  @extend .mdc-button;
  @extend .mdc-button--raised;
  --mdc-theme-primary: #f8bbd0;
  --mdc-theme-on-primary: #000000;

}